<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bienvenidxs a MercadoLiebre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            <div class="top-header">
                <div class="logo"> 
                    <a href="/"><img src="images/logo-mercado-liebre.svg" alt="Logo de MercadoLiebre"></a>
                </div>
                <div class="container-form">
                    <div class="searchForm">
                        <form action="" method="GET">
                          <input type="text" placeholder="Buscar productos, marcas" />
                            <div class="searchIcon">
                                <button type="submit"><i class="fas fa-search"></i></button>
                            </div>
                        </form>
                    </div>
                </div> 
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
            <nav>
                <div class="navBar">
                    <div class="navBarLeft">
                        <ul>
                            <li><a href="#">Ofertas</a></li>
                            <li><a href="#">Tiendas Oficiales</a></li>
                            <li><a href="#">Vender</a></li>
                            <li><a href="#">Ayuda</a></li>
                        </ul>
                    </div>
                    <div class="navBarRight"></div>
                        <ul>
                        <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                        <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>
        <section class="banner">
            <img src="images/img-home-banner.jpg" alt="Banner de ofertas">
        </section>
        <!-- <form action="/crear-producto" method="POST" class="create-form">
            <div class="contro-formulario">
                <label>Nombre del producto:</label>
                <input type="text" name="nombre">
            </div>
            <div class="contro-formulario">
                <label>Precio del producto:</label>
                <input type="text" name="precio" placeholder="123.56">
            </div>
            <div class="contro-formulario">
                <label>Categoría:</label>
                <select name="categoria">
                    <option value="hogar">Hogar</option>
                    <option value="electro">Electro</option>
                    <option value="indumentaria">Indumentaria</option>
                </select>
            </div>
            <div class="contro-formulario">
                <label>Ciudad:</label>
                <select name="categoria">
                    <option value="ba">Buenos Aires</option>
                    <option value="ro">Rosario</option>
                    <option value="me">Mendoza</option>
                </select>
            </div>
            <div class="contro-formulario">
                <label>Descripción:</label>
                <textarea name="descripcion">
                </textarea>
            </div>
            <div class="contro-formulario">
                <label>Está en oferta:</label>
                <input type="radio" name="enOferta">
            </div>
            <button type="submit">Guardar</button>
            <button type="reset">Borrar</button>
        </form> -->
        <main>
            <section class="last-visit">
                <h3>Basado en tu última visita</h3>
                <div class="products">
                    <article>
                        <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                        <div class="main-article">
                            <div class="flex-container">
                                <em class="fas fa-truck"></em>
                            </div>
                            <div class="flex-price-info">
                                <p class="price">$6.770</p>
                                <p class="discount">40% off</p>
                            </div>
                            <h4 class="description">Cafetera Moulinex</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
                        <div class="main-article">
                            <div class="flex-container">
                                <em class="fas fa-truck"></em>
                            </div>
                            <div class="flex-price-info">
                                <p class="price">$230.000</p>
                                <p class="discount">20% off</p>
                            </div>
                            <h4 class="description">MacBook Pro 2019</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                        <div class="main-article">
                            <div class="flex-container">
                                <em class="fas fa-truck"></em>
                            </div>
                            <div class="flex-price-info">
                                <p class="price">$70.500</p>
                                <p class="discount">10% off</p>
                            </div>
                            <h4 class="description">Samsung Galaxy S10</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
                        <div class="main-article">
                            <div class="flex-container">
                                <em class="fas fa-truck"></em>
                            </div>
                            <div class="flex-price-info">
                                <p class="price">$23.200</p>
                                <p class="discount">5% off</p>
                            </div>
                            <h4 class="description">SmartTv Samsung 43"</h4>
                        </div>
                    </article>
                </div>
            </section>
            <section class="offers">
                <h3>Ofertas</h3>
                <div class="products">
                    <article>
                        <img src="images/img-cafetera-moulinex.jpg" alt="Cafetera" class="product_img">
                        <div class="main-article">
                            <div class="flex-container">
                                <em class="fas fa-truck"></em>
                            </div>
                            <div class="flex-price-info">
                                <p class="price">$6.770</p>
                                <p class="discount">40% off</p>
                            </div>
                            <h4 class="description">Cafetera Moulinex</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/img-macbook-pro-2019.jpg" alt="MacBook" class="product_img">
                        <div class="main-article">
                            <div class="flex-container">
                                <em class="fas fa-truck"></em>
                            </div>
                            <div class="flex-price-info">
                                <p class="price">$230.000</p>
                                <p class="discount">20% off</p>
                            </div>
                            <h4 class="description">MacBook Pro 2019</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/img-samsung-galaxy-s10.jpg" alt="Teléfono Móvil Samsung Galaxy" class="product_img">
                        <div class="main-article">
                            <div class="flex-container">
                                <em class="fas fa-truck"></em>
                            </div>
                            <div class="flex-price-info">
                                <p class="price">$70.500</p>
                                <p class="discount">10% off</p>
                            </div>
                        <h4 class="description">Samsung Galaxy S10</h4>
                        </div>
                    </article>
                    <article>
                        <img src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung" class="product_img">
                        <div class="main-article">
                            <div class="flex-container">
                                <em class="fas fa-truck"></em>
                            </div>
                            <div class="flex-price-info">
                                <p class="price">$23.200</p>
                                <p class="discount">5% off</p>
                            </div>
                            <h4 class="description">SmartTv Samsung 43"</h4>
                        </div>
                    </article>
                </div>  
            </section>
        </main>
        <footer>
            <div class = "flex-container-footer">
                <div class = "flex-container-footer-column">
                    <i class="fas fa-credit-card"></i>
                    <h4>Pagá con tarjeta o en efectivo</h4>
                    <p>
                        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                    </p>
                </div>
                <div class = "flex-container-footer-column">
                    <i class="fas fa-gift"></i>
                    <h4>Envío gratis desde $ 2.500</h4>
                    <p>
                        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                    </p>
                </div>
                <div class = "flex-container-footer-column">
                    <i class="fas fa-user-shield"></i>
                    <h4>Seguridad, de principio a fin</h4>
                    <p>
                        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
                    </p>
                </div>
            </div>
            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        
        </footer>
        
    </body>
</html>